.boardBlock {
  border: 1px solid;
  margin: 4px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.boardBlock:hover {
  box-shadow: 2px 2px 2px salmon;
}
div {
  margin: 0;
  padding: 0;
}
.X {
  background-image: url('../src/assets/X.png');
  background-size: contain;
}
.O {
  background-image: url('../src/assets/O.jpg');
  background-size: contain;
}
